<% if (page.title === 'about') { %>
    <section class="main">
        <%- partial('_partial/about', {item: page}) %>
    </section>
<% } else if (page.title === 'contacts') { %>
    <section class="main">
        <%- partial('_partial/contacts', {item: page}) %>
    </section>
<% } else if (page.title === 'prices') { %>
    <section class="main">
        <%- partial('_partial/prices', {item: page}) %>
    </section>
<% } else if (page.title === 'schedule') { %>
    <section class="main">
        <%- partial('_partial/schedule', {item: page}) %>
    </section>
<% } else { %>
    <section class="main">
        <%- partial('_partial/article-full', {item: page}) %>
    </section>
<% } %>



