<!-- Page Header -->
<!-- Set your background image for this header in your post front-matter: cover -->
<%
    var cover = theme.index_cover_about || theme.index_cover;
    item.title = 'О нас';
%>
<header class="intro-header" style="background-image: url('<%- cover %>')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1><%- item.title || config.title || "Untitled" %></h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<section>
    <div class="container">
        <div class="row">

            <!-- Gallery -->
            <div>
                <% if (item.photos && item.photos.length){ %>
                    <%- partial('gallery', { photos: item.photos }) %>
                <% } %>
            </div>

            <!-- Main Content -->
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <%- item.content %>
            </div>

            <!-- Teachers -->
            <% if (item.teachers){ %>
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <h3>Наши преподаватели</h3>
                    </div>

                    <% Object.keys(site.data.teachers).forEach(function(key){ %>
                        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                            <h4><%- site.data.teachers[key].name %></h4>
                        </div>
                        <div>
                            <% if (item[key] && item[key].length){ %>
                                <%- partial('gallery',{ photos: item[key] }) %>
                            <% } %>
                        </div>
                        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                            <div>
                                <%- site.data.teachers[key].info %>
                            </div>
                        </div>
                    <% }); %>
            <% } %>

        </div>
    </div>
</section>